In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
HR_clean = pd.read_csv("IBM.csv")

In [ ]:
HR_clean.rename(columns = {'Unnamed: 0':'ID'}, inplace = True)

In [ ]:
no_df = HR_clean[HR_clean["Attrition"]=="No"]
no_df.shape

(1233, 32)

####Variables we are changing :

1. OverTime 
2. BusinessTravel 
3. RelIncAtLev

# DataSet 1 : Most Ideal

Taking the most ideal values for each variable :

1. OverTime : taking Mode of the OverTime value in Attrition=No Employees. 
2. BusinessTravel : taking Mode of the BusinessTravel value in Attrition=No Employees.
3. RelIncAtLev : Mean of RelIncAtLev for each Job Level for Attrition=No

In [ ]:
avg_df = pd.DataFrame(columns = ["OverTime", "BusinessTravel","RelIncAtLev"], index = (1 , 2 , 3 , 4, 5))

In [ ]:
for dept in (1 , 2 , 3 ,4 , 5): 
  no_dept = no_df[no_df['JobLevel'] == dept]
  avg_df.loc[dept] = [no_dept['OverTime'].value_counts().idxmax() , no_dept['BusinessTravel'].value_counts().idxmax() , no_dept["RelIncAtLev"].mean()]

avg_df.head()

  OverTime BusinessTravel RelIncAtLev
1       No           Rare    184.4075
2       No           Rare  134.495851
3       No           Rare  -88.967742
4       No           Rare -533.712871
5       No           Rare  -61.421875

In [ ]:
yes_df = HR_clean[HR_clean["Attrition"]=="Yes"]
yes_avg = HR_clean[HR_clean["Attrition"]=="Yes"]

for lev in (1,2,3,4,5) : 
  yes_avg.loc[yes_avg['JobLevel'] == lev,'RelIncAtLev'] = avg_df.loc[lev]["RelIncAtLev"]
  yes_avg.loc[yes_avg['JobLevel'] == lev,"BusinessTravel"] = avg_df.loc[lev]["BusinessTravel"]
  yes_avg.loc[yes_avg['JobLevel'] == lev,"OverTime"] = avg_df.loc[lev]["OverTime"]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
yes_avg.head()

,ID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,RelIncAtLev,JobSwitchRate
0,0,41,Yes,Rare,Sales,1,2,Life Sciences,1,2,...,0,8,0,1,6,4,0,5,134.495851,1.000
2,2,37,Yes,Rare,RnD,2,2,Other,4,4,...,0,7,3,3,0,0,0,0,184.407500,0.857
14,14,28,Yes,Rare,RnD,24,3,Life Sciences,19,3,...,0,6,4,3,4,2,0,3,184.407500,0.833
21,21,36,Yes,Rare,Sales,9,4,Life Sciences,27,3,...,0,10,4,3,5,3,0,3,184.407500,0.700
24,24,34,Yes,Rare,RnD,6,1,Medical,31,2,...,0,8,2,3,4,2,1,3,184.407500,0.250

In [ ]:
avg_final = pd.concat([no_df, yes_avg])

In [ ]:
from google.colab import files
avg_final.to_csv('avg_final.csv')
files.download('avg_final.csv')

# DataSet 2 : Ideal Income 
Since it may be difficult to adjust BusinessTravel and OverTime depending on the scope of the job we only change RelIncAtLev to the ideal mean value

In [ ]:
yes_rel_avg = HR_clean[HR_clean["Attrition"]=="Yes"]

for lev in (1,2,3,4,5) : 
  yes_rel_avg.loc[yes_avg['JobLevel'] == lev,'RelIncAtLev'] = avg_df.loc[lev]["RelIncAtLev"]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
yes_rel_avg

,ID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,RelIncAtLev,JobSwitchRate
0,0,41,Yes,Rare,Sales,1,2,Life Sciences,1,2,...,0,8,0,1,6,4,0,5,134.495851,1.000
2,2,37,Yes,Rare,RnD,2,2,Other,4,4,...,0,7,3,3,0,0,0,0,184.407500,0.857
14,14,28,Yes,Rare,RnD,24,3,Life Sciences,19,3,...,0,6,4,3,4,2,0,3,184.407500,0.833
21,21,36,Yes,Rare,Sales,9,4,Life Sciences,27,3,...,0,10,4,3,5,3,0,3,184.407500,0.700
24,24,34,Yes,Rare,RnD,6,1,Medical,31,2,...,0,8,2,3,4,2,1,3,184.407500,0.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,1438,23,Yes,Frequent,Sales,9,3,Marketing,2023,4,...,1,1,3,2,1,0,1,0,184.407500,1.000
1442,1442,29,Yes,Rare,RnD,1,4,Medical,2027,1,...,3,4,3,4,2,2,2,2,184.407500,2.250
1444,1444,56,Yes,Rare,RnD,7,2,Technical Degree,2032,4,...,1,14,4,1,10,9,9,8,184.407500,0.571
1452,1452,50,Yes,Frequent,Sales,1,4,Life Sciences,2044,2,...,2,12,3,3,6,3,0,1,134.495851,0.583
1461,1461,50,Yes,Rare,Sales,28,3,Marketing,2055,4,...,1,20,3,3,3,2,2,0,-88.967742,0.200

In [ ]:
rel_avg_final = pd.concat([no_df, yes_rel_avg])
rel_avg_final.shape

(1470, 32)

In [ ]:
from google.colab import files
rel_avg_final.to_csv('rel_avg_final.csv')
files.download('rel_avg_final.csv')

# DataSet 3 : 5% Increase Salary 

Since providing employees a standard salary is difficult we **increase their salary by 5%** and keep original OverTime and BusinessTravel values

In [ ]:
yes_5 = HR_clean.copy()

yes_5.loc[ yes_5["Attrition"]=="Yes", "MonthlyIncome"] = 1.05 * yes_5["MonthlyIncome"]

In [ ]:
HR_clean[HR_clean["Attrition"] == "Yes"]["MonthlyIncome"]

0        5993
2        2090
14       2028
21       3407
24       2960
        ...
1438     1790
1442     4787
1444     2339
1452     6728
1461    10854
Name: MonthlyIncome, Length: 237, dtype: int64

In [ ]:
yes_5[HR_clean["Attrition"] == "Yes"]["MonthlyIncome"]

0        6292.65
2        2194.50
14       2129.40
21       3577.35
24       3108.00
          ...
1438     1879.50
1442     5026.35
1444     2455.95
1452     7064.40
1461    11396.70
Name: MonthlyIncome, Length: 237, dtype: float64

In [ ]:
for lev in yes_5['JobLevel'].unique():

  levdata = yes_5.loc[yes_5['JobLevel'] == lev]
  med = levdata['MonthlyIncome'].median() # calc median for the lev
  #print('at lev ', lev, ' median is ', med)
  
  yes_5.loc[yes_5['JobLevel'] == lev,'RelIncAtLev'] = yes_5['MonthlyIncome'] - med

In [ ]:
data_5 = yes_5.copy()

In [ ]:
from google.colab import files
data_5.to_csv('data_5.csv')
files.download('data_5.csv')

# DataSet 4 : 10% increase Salary 
Since providing employees a standard salary is difficult we **increase their salary by 10%** and keep original OverTime and BusinessTravel values

In [ ]:
yes_10 = HR_clean.copy()

yes_10.loc[ yes_10["Attrition"]=="Yes", "MonthlyIncome"] = 1.1 * yes_10["MonthlyIncome"]

In [ ]:
for lev in yes_10['JobLevel'].unique():

  levdata = yes_10.loc[yes_10['JobLevel'] == lev]
  med = levdata['MonthlyIncome'].median() # calc median for the lev
  #print('at lev ', lev, ' median is ', med)
  
  yes_10.loc[yes_10['JobLevel'] == lev,'RelIncAtLev'] = yes_10['MonthlyIncome'] - med

In [ ]:
data_10 = yes_10.copy()

In [ ]:
from google.colab import files
data_10.to_csv('data_10.csv')
files.download('data_10.csv')